/* src/styles/global.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh; /* Elimina el uso de flex aquí */
  display: block;
}

/* Contenedor principal para páginas completas */
.page-container {
  display: block;
  flex-direction: column;
  min-height: 70vh;
}

/* Contenido principal centrado */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Footer */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1em 0;
}

.home-button{
  font-size:1.5rem;
}
.home-button:hover {
  transform: scale(1.05); /* Animación suave al pasar el mouse */
  color: #fff;
}

.home-button img {
  width: 150px; /* Imagen más grande */
  height: auto;
  margin-bottom: 1rem;
}

/* Colores para cada tema */
.home-button.math {
  background-color: #0033cc;
}

.home-button.sequence {
  background-color: #9900cc;
}

.home-button.geometry {
  background-color: #339933;
}

@media (max-width: 768px) {
  /* Ajustes para pantallas medianas y pequeñas */
  .home-button {
    width: 250px;
    height: 250px;
  }

  .home-button img {
    width: 120px;
  }
}
